<h1>Link Database</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Clicks</th>
  </tr>

<% @links.each do |link| %>
  <tr>
    <td><%= link.name %></td>
    <td><%= link_to link.url, :controller=>'links', :action=>'go', :id=>link %></td>
    <td><%= link.clicks %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Admin', :controller => 'links' %>